/* Umum */

html {
  scroll-behavior: smooth;
  width: 18cm;
  min-width: 100vw;
  overflow-x: hidden;
}

  * {
    box-sizing: border-box;
}



@font-face {
    font-family: 'Montserrat';
    src: url('assets/static/Montserrat-Regular.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #500B1E;
    color: #FCFAEE;
    width: 100%;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 70px;
}

.background-blur1::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 136px;
    width: 250px;
    height: 230px;
    background: rgba(180, 43, 81, 0.6);
    filter: blur(74px);
    transform: rotate(24deg) skewX(58deg);
    z-index: -1;
    pointer-events: none;
}

.background-blur2::before {
    content: "";
    position: absolute;
    top: 100px;
    right: 50px;
    right: -60px;
    transform: translateY(515%) rotate(11deg) skewX(27deg);
    width: 193px;
    height: 275px;
    background: rgba(180, 43, 81, 1.6);
    filter: blur(160px);
    z-index: -1;
    pointer-events: none;
}

.background-blur3::before {
    content: "";
    position: absolute;
    top: 3600px;
    left: -151px;
    width: 426px;
    height: 596px;
    border-radius: 50%;
    background: rgba(180, 43, 81, 0.6);
    filter: blur(139px);
    z-index: -1;
    pointer-events: none;
}

.background-blur4::before {
    content: "";
    position: absolute;
    bottom: 70px;
    right: -159px;
    width: 489px;
    height: 596px;
    border-radius: 50%;
    background: rgba(180, 43, 81, 0.6);
    filter: blur(139px);
    z-index: -1;
    pointer-events: none;
}




div[id] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

div[id].show {
    opacity: 1;
    transform: translateY(0);
}






/* Bagian navigasi */
.logo img {
    height: 164px; 
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 10px 20px;
    position: fixed;  
    top: 0; 
    width: 100%;
    color: #FCFAEE;
    transition: background 0.4s ease-in-out;
    z-index: 1000; 
}

.navbar h1 {
    font-size: larger;
}

.navbar.scrolled {
    background: rgba(80, 11, 30, 0.5); 
    backdrop-filter: blur(15px); 
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s ease;
}

nav ul li a.active {
    font-weight: bold; 
}


.nav-links {
    position: relative;
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
    opacity: 1; 
    transform: translateY(0); 
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.nav-links.active li {
    opacity: 1;
    transform: translateY(0);
}


.nav-links a {
    position: relative;
    text-decoration: none;
    color: #FCFAEE;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
}

/* Garis bawah yang selalu ada */
.nav-underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: red;
    transition: all 0.3s ease-in-out;
}


/* Efek underline bergerak saat hover */
.nav-links li a {
    position: relative;
}



.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    width: 30px;
    height: 4px;
    background: white;
    margin: 4px 0;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .nav-underline {
        display: none !important;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        backdrop-filter: blur(5px); 
        background: rgba(163, 51, 51, 0.95);
        position: absolute;
        top: 50px;
        left: 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.4s ease-in-out;
        padding: 15px 0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        animation: fadeIn 0.5s ease-in-out forwards;
        backdrop-filter: blur(5px); 
        background: rgba(80, 11, 30, 0.7); 
    }

    .nav-links.active li {
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Fade Out */
    .nav-links.fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }


    .menu-toggle {
        display: flex;
    }

    .menu-toggle div:nth-child(3) {
        display: none;
    }

    .menu-toggle.active div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active div:nth-child(2) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}


/* profile */

#profile {
    margin-top: 40px;
    padding: 20px;
    padding-left: 50px;
    margin-bottom: 75px;
}

#profile h1 {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 98px;
}

#profile p {
    font-size: 40px;
}

#profile .profile-info .little-text {
    margin-top: 0%;
    margin-bottom: 5px;
}

.text {
    width: 600px; 
    height: 80px; 
    overflow: hidden;
    position: relative;
}

.text p {
    margin: 16px;
    color: #E98FA8;
    margin-left: 0%;
}

.text-slide {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transition: transform 1s ease-in-out;
}

#profile button {
    margin-top: 15px;
    background-color: #B42B51;
    border-radius: 7px;
    border: none;
    padding: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #FCFAEE;
}


/* about */
#about-me {
    padding: 9px 50px 0px;
    text-align: center;
}

#about-me h1 {
    margin-bottom: 2px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    gap: 60px;
    flex-direction: row-reverse; 
    flex-wrap: wrap; 
}

.about-content p {
    font-size: 32px;
    text-align: justify;
    max-width: 800px;
    margin-bottom: 0;
}

.image {
    display: flex;
    align-items: flex-end; 
    height: 436px; 
    width: 304px; 
    position: relative;
    z-index: 1;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
}

.image:hover {
    transform: scale(1.05); 
}

.image .bg {
    background-color: #B42B51;
    width: 304px; 
    height: 70%; 
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    transition: height 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.image:hover .bg {
    height: 60%; 
    box-shadow: 0 15px 55px rgba(0, 0, 0, 0.3); 
}

.image img {
    height: 100%; 
    width: auto; 
    width: 304px; 
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}


.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 103px 20px 122px;
}


.scroll::after {
    content: "";
    display: block;
    width: 40%; 
    height: 2px; 
    background-color: #B42B51; 
    position: absolute;
    left: 50%; 
    bottom: -5px; 
    transform: translateX(-50%); 
}





/* logo */
#logo {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 30px;                
    flex-wrap: wrap;          
    padding-top: 64px;        
    border-radius: 10px;      
}

#logo img {
    width: 33px;  /* Ukuran logo */
    height: auto; 
}







/* project */
#project {
    padding: 45px 50px 0px;
    text-align: center;    
}

.card a {
    text-decoration: none; 
    display: inline-block;
}


#card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    background: linear-gradient(325deg, #FCFAEE, #E98FA8);
    width: 30%;
    padding: 8px;
    color: #B42B51;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.2);
}




.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 2px 2px;
} 
.card h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-bottom: 0px;
}
.card h5 {
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    margin-top: 0px;
    background-color: #B42B51;
    color: #FCFAEE;
    width: 75px;
    padding: 4px;
    border-radius: 5px;
}
.card p {
    margin: 10px 0;
    text-align: justify;
    width: 100%;
    font-size: larger;
    height: 97px;
    font-weight: normal;
}

.card p a {
    font-size: large;
    transition: transform 0.3s ease-in-out;

}

.card p a:hover {
    font-weight: bold;
}

.card button {
    position: relative;
    font-size: 16px;
    overflow: hidden;
    padding: 8px 50px;
    border: none;
    background-color: #A31D1D;
    color: #FCFAEE; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    align-self: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1; 
}


/* Fix warna default browser di <a> */
.card a:link,
.card a:visited {
    color: inherit; 
    background: none; 
}

/* Efek geser keluar */
.card button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #A31D1D; 
    transition: transform 0.3s ease-in-out;
    z-index: -1; 
}

/* Animasi keluar ke kiri */
.card a:hover button::before {
    transform: translateX(-100%);
}

.card a:hover button {
    color: #A31D1D !important; 
    background-color: transparent; 
}


@media (max-width: 900px) {
    .card {
        width: 48%;
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

#project h1 {
    text-align: center;
}





/* experience */
#experience {
    padding: 45px 10%;
    text-align: center;
}

.exp {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 20px;
    padding: 20px 90px;
    text-align: left;
    border-radius: 10px;
    position: relative;
}

/* Gambar responsive */
.exp img {
    width: 100%;
    max-width: 565px; 
    height: auto;
    object-fit: cover;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* H2 responsive */
.exp h2 {
    font-size: clamp(30px, 5vw, 60px); 
    font-weight: bold;
    flex: 1;
    color: #FCFAEE;
    margin: 0;
}

.exp a {
    font-size: clamp(30px, 5vw, 60px); 
    text-decoration: none;
}

/* Overlay efek hover */
.exp .image-container {
    position: relative;
    width: 100%; 
    max-width: 565px;
}

.exp .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 11, 30, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 2px;
}

.exp .overlay p {
    color: white;
    font-size: clamp(1.2rem, 3vw, 1.2rem); 
    text-align: justify;
    padding: 5%; 
    max-width: 100%; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

/* Hover effect */
.exp .image-container:hover .overlay {
    opacity: 1;
}

/* Responsive layout */
@media (max-width: 1400px) { 
    .exp {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding: 30px 4px;
        width: 100%;
        height: auto;
    }
    
    .exp h2 {
        text-align: center;
        font-size: 40px; 
    }

    .exp a {
        text-align: center;
        font-size: 40px; 
    }

    .exp .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}






/* contact */
#contact {
    padding: 5% 166px 141px;
    text-align: center;  
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap; 
}

#contact h1 {
    text-align: center;
    width: 100%; 
    margin-bottom: 58px; 
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 18px;
}

.support-icon {
    font-size: 1600% !important; 
    color: #FCFAEE;
}

footer {
    background-color: #B42B51; 
    color: #FEF9E1; 
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1400px) { 
    #contact {
        padding: 5% 46px 141px;
    }
    .logo p {
        font-size: 35px; 
    }
    .logo i {
        font-size: 35px;
    }
}
